.script-toolbar {
    height        : 63px;
    border        : #6C757D solid 1px;
    border-radius : 5px;
    padding-top   : 12px;
}

.script-toolbar-title {
    color     : #E5E5E5;
    font-size : 25px;
}

.script-toolbar-component-title {
    color     : #E5E5E5;
    font-size : 15px;
}

.script-toolbar-button {
    width : 150px;
}


